.foot-container {
    background-color: #0E6EFC;
    color: #E3FFFF;
    padding-top: 1rem;
}

.foot-logo {
    border: 2px solid #FFF;
    height: 100px;
    width: 100px;
    margin: 15px;
}

.copyright-row {
    color: #E3FFFF;
}

.email-link,
.phone-link {
    color: #FFF;
}